  <h1>Grocery List</h1>

    <ul id="grocery-list">
      <% if !@groceries.nil? %>
        <% @groceries.each do |item| %>
            <li class="item">
              <a href="/groceries/<%= item["id"] %>"><%= item["name"] %></a>
              <span class="button">
                <form method="post" action="/groceries/<%= item["id"] %>">
                  <input type="hidden" name="_method" value="DELETE">
                  <input id="button" type="submit" value="Delete">
                  </form>
              </span>
          </li>
        <% end %>
      <% end %>
    </ul>

    <fieldset>
      <legend>Add Item</legend>
      <form method="post" action="/groceries">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />

        <input type="submit" value="Submit" />
      </form>
    </fieldset>
    <p><%= @error if @error %></p>
